:root {
    --theme-primary: #1e499e;
    --theme-primary-overlay: #112a90cc;
    --DarkHightlight: #000000cc;
    --DarkHighlight: #000000cc;
    --LightHighlight: #eeeeeebb;
    --LightBackgroundGradient: radial-gradient(circle,rgba(191, 191, 191, 1) 7%, rgba(219, 219, 219, 1) 39%, rgba(140, 140, 140, 1) 100%);
    --DarkBackgroundGradient: linear-gradient(137deg,rgba(64, 64, 64, 1) 6%, rgba(48, 48, 48, 1) 46%, rgba(56, 56, 56, 1) 80%);
}

html.light-gradient {
    background: var(--LightBackgroundGradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    body {
        background: none;
    }
}
html.dark-gradient {
    background: var(--DarkBackgroundGradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    body {
        background: none;
    }
}

/* MudToolWindow Styles */

.tool-window {
    padding: 4px 0 1rem !important;
    position: relative;
}

.tool-window-container {
    position: relative;
    padding: 1rem;
    padding-bottom: 55px !important;
    background-color: var(--DarkHightlight);
    border-bottom: 2px solid var(--mud-palette-table-striped);
    min-height: 15vh;
    
    .white-input {
        .mud-input, .mud-input-label {
            color: var(--mud-palette-white) !important;    
        }
    }    
}

.tool-window-footer {
    position: absolute;
    background-color:var(--DarkHighlight);
    bottom: 18px;
    left: 1px;
    padding: 0.75vh;
    width: 100%;

    h6 {
        font-size: 1.2rem;
        color: var(--mud-palette-white) !important;
        
        .mud-icon-root {
            color: var(--mud-palette-white) !important;
        }
    }
}

/* Media for small screens */
@media (max-width: 768px) {
    .tool-window {
        padding-top: 0 !important;
    }
    
    .tool-window-footer {
        h6 {
            font-size: 1.0rem;
            color: var(--mud-palette-white) !important;

            .mud-icon-root {
                color: var(--mud-palette-white) !important;
            }
        }
    }
}

/* ======= Base Layout Styling ======== */

.mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    background-color: var(--DarkHightlight);
    color: var(--mud-palette-text-primary);
}

#nav-drawer {
    background-image: linear-gradient(230deg, var(--theme-primary-overlay), #05051acc), url("../Images/tropical_bg.png");
    background-position-x: center;
    background-position-y: top;
}

.background-gradient-light {
    background: linear-gradient(to right, #2b5db3, #15151a);
}

.background-gradient-dark {
    background: linear-gradient(to right, #1a1a27, #2b5db3);
}

/* ======= End Base Layout Styling ======== */
/* - MudList */
.mud-list {
    background-color: var(--mud-palette-black);
    color: var(--mud-palette-white);
}
.mud-list-item-icon {
    color: var(--mud-palette-white);
}

/* - Mud Tab Panel */
.mud-tabs {
    background-color: var(--mud-palette-background);
}

.mud-tabs-tabbar {
    background-color: var(--mud-palette-background);
    .mud-tab.mud-tab-active {
        color: var(--mud-palette-primary-lighten);
    }
}

/* - Mud Expand Panels */
.mud-expand-panel {
    background-color: var(--mud-palette-background-gray);
}

/* - Mud Dialog */
.mud-dialog {
    background-color: var(--mud-palette-background);
}


/* - Mud Card Styling */

.mud-card.mud-paper {
    background-color: var(--mud-palette-background);
}

.mud-card-header {
    background-color: var(--mud-palette-primary);
    border-bottom: black 1px solid;
    color: white;
}

.mud-card-header, .mud-dialog-title {

    background-color: var(--mud-palette-primary);
    border-bottom: black 1px solid;
    
    .mud-typography {
        .mud-icon-root {
            vertical-align: sub;
            margin-right: 0.25rem;
        }
    }
    
    .mud-button-close .mud-icon-root {
        color: white;
    }
}

.mud-dialog-title {
    margin-bottom: 0.5vh !important;
}

/* - Mud Button */
.mud-button-root {
    .mud-button-label {
        line-height: 1.25;
        align-items:center;
    }
}

/* - Mud Input */
.mud-input-control.mud-input-text-with-label.mud-input-input-control {
    margin-top: 5px;
}
.mud-input-control.mud-input-outlined-with-label.mud-input-input-control {
    margin-top: 12px;
}





/* - Mud Table */
.mud-table {
    background-color: var(--mud-palette-background-gray) !important;
}

.mud-table-head .mud-table-row th {
    background-color: var(--mud-palette-surface) !important;
}

.mud-table-root .mud-table-head .mud-table-cell {
    color: var(--mud-palette-white) !important;
}



.mud-divider.gap {
    margin-top: .25rem;
    margin-bottom: .4rem;
}

