.mud-select .mud-popover-cascading-value {
    z-index: calc(var(--mud-zindex-popover) + 1);
}

.mud-card-header > .mud-grid {
    margin-left: 6px !important;
    
    .mud-grid-item {
        padding-left: 0;
        width: min-content !important;
        max-width: fit-content !important;
    }
}

.fix-pos.mud-grid.mud-grid-spacing-xs-6.justify-start {
    width: calc(100% + 32px) !important;
    margin-left: -15px !important;
    > .mud-grid-item {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 768px) {
    .fix-pos.mud-grid.mud-grid-spacing-xs-6.justify-start {
        width: calc(100% + 34px) !important;
        margin-left: -16px !important;
    }   
}

.mud-table-foot th {
    display: none !important;
}