<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet"/>
    <ImportMap/>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="CSS/app.css?version=@Random.Shared.Next()" rel="stylesheet"/>
    <link href="CSS/tags.css?version=@Random.Shared.Next()" rel="stylesheet"/>
    <link href="CSS/MudBlazorFixes.css?version=@Random.Shared.Next()" rel="stylesheet"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="JS/Layout.js" type="text/javascript"></script>
<script src="Components/Global/IconSelect.js" type="text/javascript"></script>
</body>

</html>