<MudItem xs="12" Style="z-index: 1;" Class="alternate-bg-50 tool-window">
    <div class="tool-window-container">
        @if (ChildContent == null || !ChildContent.HasSingleTarget)
        {
            <MudPaper Class="justify-center bg-none flex">
                
                <MudChip T="string"
                         Color="Color.Dark"
                         tabindex="-1"
                         Class="p-2 m-2">
                    <MudText Typo="Typo.body1" Color="Color.Default">
                        <MudIcon Class="align-top" Icon="@Icons.Material.Filled.Info" Size="Size.Medium"/>
                        Select an Item to View Details
                    </MudText>
                </MudChip>
                
            </MudPaper>
        }
        else
        {
            @ChildContent    
        }
        
    </div>
    <div class="tool-window-footer">
        <MudGrid Justify="Justify.FlexStart" Class="pr-2">
            <MudItem xs="8">
                <MudText Typo="Typo.h6">
                    <MudIcon Class="align-sub" Icon="@FooterIcon"/>
                    @WindowTitle
                </MudText>
            </MudItem>
            <MudSpacer/>
            @if (ChildContent != null)
            {
                <MudItem xs="2">
                    <MudButton Variant="Variant.Outlined" Color="Color.Success" FullWidth="true" Size="Size.Small">
                        <MudIcon Class="align-sub" Icon="@Icons.Material.Filled.Save"/>
                        Save
                    </MudButton>
                </MudItem>
                <MudSpacer/>
                <MudItem xs="2">
                    <MudButton Variant="Variant.Outlined" Color="Color.Error" FullWidth="true" Size="Size.Small">
                        <MudIcon Class="align-sub" Icon="@Icons.Material.Filled.Cancel"/>
                        Deactivate
                    </MudButton>
                </MudItem>
            }
        </MudGrid>
    </div>
</MudItem>

@code{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string WindowTitle { get; set; } = "Tool Window";
    [Parameter]
    public string FooterIcon { get; set; } = Icons.Material.Filled.Info;
    
}
