.mud-card.mud-paper.expand {
    height: 100%;
}



.icon-select {
   
    .mud-input-adornment {
        display: none;
    }
    
    .mud-input-slot {
        padding: 0 !important;
        height: 100% !important;
        width: 100% !important;
    }
    
    .mud-icon-root {
        align-items: end;
        vertical-align: bottom;
    }
    
    .mud-select-filler {
        max-width: 5vh;
        margin-left: 0;
        margin-right: 0;
    }
}

.PieTypeChartHeaderSelectItem > .mud-select {
    width: fit-content !important;
}